{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center;"><br>
        <h2><span class="badge" style="background-color: black; color: white;">Изменить парль</span><br></h2>
        <br>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field, errors in form.errors.items %}
                        {{ field }}: {{ errors }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="mb-3 text-center" style="display: flex; justify-content: center; align-items: center;">
                <div style="text-align: center;">
                    <h4><label for="password" class="control-label">Новый пароль</label></h4>
                    <input type="password" name="new_password1" id="new_password1" class="form-control"
                           placeholder="Введите новый пароль"
                           style="width: 250px; height: 35px; font-size: 18px; padding: 10px;">
                </div>
            </div>
            <br>
            <div class="mb-3 text-center" style="display: flex; justify-content: center; align-items: center;">
                <div style="text-align: center;">
                    <h4><label for="password" class="control-label">Подтвердите пароль</label></h4>
                    <input type="password" name="new_password2" id="new_password2" class="form-control"
                           placeholder="Введите новый пароль"
                           style="width: 250px; height: 35px; font-size: 18px; padding: 10px;">
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark mt-2" style="width: 200px; height: 50px; font-size: 24px;">
                    Подтвердить
                </button>
            </div>
        </form>
    </div>
    </div>
{% endblock %}