{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %}

{% block content %}
    {% with first_video=random_video.0 second_video=random_video.1 third_video=random_video.2 fourth_video=random_video.3 first_photo=random_photo.0 second_photo=random_photo.1 third_photo=random_photo.2 fourth_photo=random_photo.3 %}

        <div class="row row-cols-1 row-cols-md-4 g-4 mx-5 my-3">
            <div class="col">
                <div class="card h-100">
                    <img src="{{ first_photo.photo.url }}" class="card-img-top" alt="Фото1">
                    <div class="card-body">
                        <h3 class="card-title text-center"><a
                                href="{% url 'photo_detail' first_photo.pk %}">{{ first_photo.name }}</a></h3>
                        <p class="card-text text-center">{{ first_photo.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="{{ second_photo.photo.url }} " class="card-img-top" alt="Фото2">
                    <div class="card-body">
                        <h3 class="card-title text-center"><a
                                href="{% url 'photo_detail' second_photo.pk %}">{{ second_photo.name }}</a></h3>
                        <p class="card-text text-center">{{ second_photo.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ third_photo.photo.url }}" class="card-img-top" alt="Фото3">
                    <div class="card-body">
                        <h3 class="card-title text-center"><a
                                href="{% url 'photo_detail' third_photo.pk %}">{{ third_photo.name }}</a></h3>
                        <p class="card-text text-center">{{ third_photo.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ fourth_photo.photo.url }}" class="card-img-top" alt="Фото3">
                    <div class="card-body">
                        <h3 class="card-title text-center"><a
                                href="{% url 'photo_detail' fourth_photo.pk %}">{{ fourth_photo.name }}</a></h3>
                        <p class="card-text text-center">{{ fourth_photo.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ first_video.thumbnail.url }}" class="card-img-top" alt="Видео1">
                    <div class="card-body">
                        <h3 class="card-title text-center"><a
                                href="{% url 'video_detail' first_video.pk %}">{{ first_video.title }}</a></h3>
                        <p class="card-text text-center">{{ first_video.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ second_video.thumbnail.url }}" class="card-img-top" alt="Видео1">
                    <div class="card-body">
                        <h3 class="card-title text-center"><a
                                href="{% url 'video_detail' second_video.pk %}">{{ second_video.title }}</a></h3>
                        <p class="card-text text-center">{{ second_video.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ third_video.thumbnail.url }}" class="card-img-top" alt="Видео1">
                    <div class="card-body">
                        <h3 class="card-title text-center"><a
                                href="{% url 'video_detail' third_video.pk %}">{{ third_video.title }}</a></h3>
                        <p class="card-text text-center">{{ third_video.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ fourth_video.thumbnail.url }}" class="card-img-top" alt="Видео1">
                    <div class="card-body">
                        <h3 class="card-title text-center"><a
                                href="{% url 'video_detail' fourth_video.pk %}">{{ fourth_video.title }}</a></h3>
                        <p class="card-text text-center">{{ fourth_video.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}








    {#    {% with first_video=random_video.0 second_video=random_video.1 third_video=random_video.2 first_photo=random_photo.0 second_photo=random_photo.1 third_photo=random_photo.2 %}#}
    {#        <div class="row row-cols-1 row-cols-md-3 g-4">#}
    {#            <div class="col">#}
    {#                <div class="card">#}
    {#                    <img src="{{ first_video.thumbnail.url }}" class="card-img-top" alt="Видео1">#}
    {#                    <div class="card-body">#}
    {#                        <h5><a href="{% url 'video_detail' first_video.pk %}">{{ first_video.title }}</a></h5>#}
    {#                        <p class="card-text">{{ first_video.description }}</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col">#}
    {#                <div class="card">#}
    {#                    <img src="{{ second_video.thumbnail.url }}" class="card-img-top" alt="Видео2">#}
    {#                    <div class="card-body">#}
    {#                        <h5><a href="{% url 'video_detail' second_video.pk %}">{{ second_video.title }}</a></h5>#}
    {#                        <p class="card-text">{{ second_video.description }}</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col">#}
    {#                <div class="card">#}
    {#                    <img src="{{ third_video.thumbnail.url }}" class="card-img-top" alt="Видео3">#}
    {#                    <div class="card-body">#}
    {#                        <h5><a href="{% url 'video_detail' third_video.pk %}">{{ third_video.title }}</a></h5>#}
    {#                        <p class="card-text">{{ third_video.description }}</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="row row-cols-1 row-cols-md-3 g-4">#}
    {#            <div class="col">#}
    {#                <div class="card">#}
    {#                    <img src="{{ first_photo.resized_photo.url }}" class="img-fluid" alt="Фото1">#}
    {#                    <div class="card-body">#}
    {#                        <h5><a href="{% url 'photo_detail' first_photo.pk %}">{{ first_photo.name }}</a></h5>#}
    {#                        <p class="card-text">{{ first_photo.description }}</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col">#}
    {#                <div class="card">#}
    {#                    <img src="{{ second_photo.resized_photo.url }}" class="img-fluid" alt="Фото2">#}
    {#                    <div class="card-body">#}
    {#                        <h5><a href="{% url 'photo_detail' second_photo.pk %}">{{ second_photo.name }}</a></h5>#}
    {#                        <p class="card-text">{{ second_photo.description }}</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col">#}
    {#                <div class="card">#}
    {#                    <img src="{{ third_photo.resized_photo.url }}" class="img-fluid" alt="Фото3">#}
    {#                    <div class="card-body">#}
    {#                        <h5><a href="{% url 'photo_detail' third_photo.pk %}">{{ third_photo.name }}</a></h5>#}
    {#                        <p class="card-text">{{ third_photo.description }}</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    {% endwith %}#}


    {#            <p>#}
    {#                <img src="{{ content.thumbnail.url }}" alt="Видео">#}
    {#            </p>#}

    {#{% elif content.model_name == 'Photo' %}#}
    {#<h4><a href="{% url 'photo_detail' content.pk %}">{{ content.name }}</a></h4>#}
    {#<p>#}
    {#    <img src="{{ content.resized_photo.url }}" alt="Фото">#}
    {#</p>#}
    {#<div class="mb-4">#}
    {#    <div style="height: 2px; background-color: #000; width: 480px;"></div>#}
    {#</div>#}
    {#{% endif %}#}
    {#{% endfor %}#}
    {##}
{% endblock %}









